.main-menu-wrapper ul{
  display:flex !important;
  flex-direction:row !important;
  list-style:none;
  gap:20px;
}
.main-menu-wrapper ul li{
  display:inline-block;
}
.header{
  background:#fff;
  position:relative;
  z-index:1000;
  width:100%;
}
    

